body {
  background-color: #F2F2F2;

  // Custom highlight color
  ::selection {
    background: #C0C0C0;
  }
  ::-moz-selection {
      background: #C0C0C0;
  }
}

#title {
  margin-top: 15px;
  text-align: center;
  h1 {
    margin-bottom: 5px;
  }
  h6 {
    margin-bottom: 5px;
  }
}

hr {
  margin: 15px;
}

#main-content {

}

#footer {
  margin-top: 25px;
  text-align: center;
}

.project {
  margin-bottom: 15px;

  &:first-of-type {
    margin-top: 10px;
  }

  div {
    border-radius: 0.25em;

    text-align: center;
    background-color: #FAFAFA;

    p {
      // Make text un-selectable
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */

      font-weight: 700;
      padding: 2px 0px 0px 0px;
      margin: 0px;
    }

    .image {
      height: 150px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &#sc {
          background-image: url(../img/sc.png);
      }

      &#pugg {
          background-image: url(../img/pugg.png);
      }

      &#ips {
          background-image: url(../img/ips.png);
      }

      &#ludum {
          background-image: url(../img/ludum.png);
      }

      &#keyboard {
          background-image: url(../img/keyboard.png);
      }

      &#kitchensupport {
          background-image: url(../img/unknown.png);
      }
    }

    &:hover {
      background-color: #E0E0E0;
      .image {
          background-color: #E0E0E0;
      }
    }
  }
}
